source https://www.nuget.org/api/v2

nuget FSharp.Core 4.7.1
nuget Microsoft.Extensions.Configuration.EnvironmentVariables 3.1.3
nuget Microsoft.Extensions.Configuration.Json 3.1.3
nuget Microsoft.Extensions.Configuration.UserSecrets 3.1.3
nuget Microsoft.NET.Test.Sdk 16.5.0
nuget Npgsql 4.1.3.1
nuget Npgsql.NetTopologySuite 4.1.3
nuget System.ValueTuple 4.5.0
nuget System.Xml.XDocument 4.3.0
nuget xunit 2.4.1
nuget xunit.runner.visualstudio 2.4.1

group tpsdk
  frameworks netstandard2.0
  storage packages
  source https://api.nuget.org/v3/index.json

  github demetrixbio/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
  github demetrixbio/FSharp.TypeProviders.SDK src/ProvidedTypes.fs
  nuget NETStandard.Library.NETFramework